.header {
    display: flex;
    justify-content: center;
    height: 130px;
    background-color: #fff;
}

.header__wrapper {
    width: 940px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    position: relative;
    z-index: 0;
}